@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

body {
	font-family: 'Kiwi Maru', serif;
	padding: 20px 50px;
}
/* █████ STANDARD ELEMENTS ███████████████████████████████████ */

.moduleBtn {
	float: right;
	padding: 10px;
	width: 43px;
	height: 43px;

	font-size: 20px;
	text-align: center;

	background-color: white;
	border-radius: 50%;
	border: none;
	box-shadow: 0 2px 5px #C7C7C7;
	color: black;

	user-select: none;

	transition: all 0.5s cubic-bezier(0.22, 1, 0.36, 1);
}
.moduleBtn:hover {
	transform: scale(1.2);
}

.moduleBtn:active {
	transform: scale(0.8);
	opacity: 50%;
}

.topmainbtn {
	display: block;
	position: fixed;
	width: 80px;
	height: 80px;
	top: 50px;
	right: 50px;
	margin: 10px;

	/* border: 2px solid white; */
	border-radius: 50%;
	overflow: hidden;
}


/* █████ TOP BAR ███████████████████████████████████ */

.TopBar {
	/* background-color: rgba(0, 0, 0, 0.1); */
}

#mainClock {
	/* font-size: 15px; */
	color: #000;
}

#AMPM {
	font-size: 15px;
	color: #000;
}

#date {
	/* font-size: 15px; */
	color: #999;
}

#inspoQuote {
	font-size: 20px;
	color: #999;
}

/* █████ TOP RIGHT BUTTONS ███████████████████████████████████ */

.Settings {

	color: #707070;
	/* background-color: #E6E6E6; */
	box-shadow: 0 2px 5px #C7C7C7;
	text-align: center;
	background-image: url("/iconSettings.png");
	background-repeat: no-repeat;
	/* background-attachment: fixed; */
	background-position: center;
	background-size: 80px 80px;
	user-select: none;
	transition: all 0.5s cubic-bezier(0.22, 1, 0.36, 1);
}
.Settings:hover {
	opacity: 80%;
}
.Settings:active {
	transform: scale(0.8);
	opacity: 50%;
}

.FocusTimer {
	right: 160px;

	color: #DEA200;
	/* background-color: #FFE8A7; */
	box-shadow: 0 2px 5px #F5C78C;
	text-align: center;

	background-image: url("/iconTimer.png");
	background-repeat: no-repeat;
	/* background-attachment: fixed; */
	background-position: center;
	background-size: 80px 80px;
	user-select: none;
	transition: all 0.5s cubic-bezier(0.22, 1, 0.36, 1);
}
.FocusTimer:hover {
	opacity: 80%;
}
.FocusTimer:active {
	transform: scale(0.8);
	opacity: 50%;
}


/* █████ MAIN GRID ███████████████████████████████████ */

.card {
	/* display: block; */
	background-color: rgba(0, 0, 0, 0.1);
	margin: 5px;
	border-radius: 20px;
}

.MainGrid {
	/* border: 5px solid red; */
	position: fixed;
	bottom: 0%;
	left: 0%;
	margin: 50px;
	width: calc(100% - 100px);
	height: calc(100% - 220px);

	/* GRID */
	display: grid;
	grid-template-areas:
		'event todo weather'
		'event todo clock';
	grid-gap: 10px;
	/* background-color: #2196F3; */
}

.Events {
	grid-area: event;
	padding: 5px 20px 10px 20px;
}

.ToDoList {
	grid-area: todo;
	padding: 5px 20px 10px 20px;
}

.Weather {
	grid-area: weather;
	padding: 30px;
	user-select: none;
	transition: all 0.5s cubic-bezier(0.22, 1, 0.36, 1);
}
.Weather:hover {
	opacity: 80%;
}
.FocusTimer:active {
	transform: scale(0.8);
	opacity: 50%;
}

.WorldClock {
	grid-area: clock;
	padding: 30px;
	user-select: none;
	transition: all 0.5s cubic-bezier(0.22, 1, 0.36, 1);
}
.WorldClock:hover {
	opacity: 80%;
}
.FocusTimer:active {
	transform: scale(0.8);
	opacity: 50%;
}

/* █████ WEATHER CONTENTS ███████████████████████████████████ */
#weatherIcon {
	/* border: 5px solid red; */
	width: 70px;
	height: 70px;
	/* background-color: white; */
	border-radius: 50%;
	border: 3px dotted white;
}

#temps {
	/* border: 5px solid red; */

	width: 100%;
	background-color: none;
}

#weatherTemp {
	/* border: 5px solid green; */

	text-align: left;
	vertical-align: bottom;
	font-size: 40px;
}

#weatherStatus {
	/* border: 5px solid green; */

	/* float: right; */
	text-align: right;
	vertical-align: bottom;
	font-size: 20px;
}

/* █████ CLOCK CONTENTS ███████████████████████████████████ */
#clockwidgetcontainer {
	/* border: 5px solid red; */
	text-align: center;
}

#worldclockwidget {
	font-size: 40px;
	text-align: center;
}

#worldclockAMPM {
	font-size: 15px;
	color: #999;
	text-align: center;
}

#clockwidgetCityName {
	/* border: 5px solid red; */
	text-align: center;
}

/* █████ TO-DO CONTENTS ███████████████████████████████████ */
/* checkbox {
	width: 40px;
	height: 40px;
} */

.todoTextbox {
	/* position: absolute; */
	top: 0;
	left: 0;
	height: 25px;
	width: 100%;
	border-radius: 15px;
	border: none;
	background-color: #EEE;
	padding: 0px 10px 0px 10px;
}

/* █████ CHECKBOX █████*/
/* The container */
.container {
	display: block;
	position: relative;
	padding-left: 54px;
	padding-top: 5px;
	margin-bottom: 13px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 35px;
	width: 35px;
	border-radius: 50%;
	background-color: rgba(255,255,255,0);
	border: 3px solid #fff;
	transition: all 0.5s cubic-bezier(0.22, 1, 0.36, 1);
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
	background-color: rgba(255,255,255,1);
	transform: scale(1.1);
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
	background-color: #AF51B2;
    border: 3px solid rgba(255,255,255,0;);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
	/* transform: scale(1.5); */
	opacity: 0;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
	display: block;
	/* transform: scale(1); */
	opacity: 1;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
	left: 14px;
	top: 8px;
	width: 5px;
	height: 12px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

/* █████ EVENTS CONTENTS ███████████████████████████████████ */
