<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Dashboard</title>

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;500&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="style.css">
	<script src="dashboard.js"></script>

</head>


<body onload="updateClocks();"> <!-- Update Clock -->
	<div class="TopBar">
		<h1>
			<span id="mainClock">--:--</span><span id="AMPM">:-- --</span> <span id="date">DayName, Month #</span><br>
			<span id="inspoQuote">"Very Inspirational Quote"</span>
		</h1>

		<div class="topmainbtn Settings">
			<h2> Settings </h2>
		</div>

		<div class="topmainbtn FocusTimer">
			<h2> Timer </h2>
		</div>
	</div>

	<div class="MainGrid">

		 <!-- █████ EVENTS CARD ███████████████████████████████████ -->
		<div class="card Events">
			<h2> Events </h2>
			<button id="btnaddevents" class="smallbtn" onclick="//CALL JS FUNCTION"> add </button>

			<div class="card-body">
				<ul th:each="calendarEntries: ${calendarEntries}" class="list-unstyled mt-3 mb-4">
					<li th:text="${calendarEntries.startDateTime} + '  ' +  ${calendarEntries.description}"></li>
				</ul>
			</div>

		</div>

		<!-- █████ TO-DO ███████████████████████████████████ -->

		<div class="card ToDoList">
			<h2> Goals For Today </h2>

			<button id="btnaddevents" class="smallbtn" onclick="//CALL JS FUNCTION"> add </button>

			<table class="table-unstyled">
				<tr>
					<td><input type="checkbox" id="task1" name="task1"></td>
								<td><input type="text"></td>
						</tr>
						<tr>
					<td><input type="checkbox" id="task2" name="task2"></td>
								<td><input type="text"></td>
						</tr>
						<tr>
					<td><input type="checkbox" id="task3" name="task3"></td>
								<td><input type="text"></td>
						</tr>
						<tr>
					<td><input type="checkbox" id="task4" name="task4"></td>
								<td><input type="text"></td>
						</tr>
						<tr>
					<td><input type="checkbox" id="task5" name="task5"></td>
								<td><input type="text"></td>
						</tr>
			</table>
		</div>

		<!-- █████ WEATHER ███████████████████████████████████ -->
		<div class="card Weather">
			<div id="weatherIcon">icon</div>
			<h2 id="temps"><span id="weatherTemp">##°c</span> <span id="weatherStatus">light rain</span></h2>
		</div>

		<div class="card WorldClock">
			<h2 id="clockwidgetcontainer"><span id="worldclockwidget">##:##</span> <span id="worldclockAMPM">APM</span></h2>
			<p id="clockwidgetCityName"> City Name </p>
		</div>
	</div>
</body>
</html>
