<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>Dashboard</title>

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;500&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="/dashboard.css">
	<script src="/dashboard.js"></script>
</head>


<body onload="updateClocks();"> <!-- Update Clock -->

	<!-- █████ TOP BAR █████████████████████████████████████████ -->
	<div class="TopBar">
		<h1>
			<span id="mainClock">--:--</span><span id="AMPM">:-- --</span> <span id="date" th:text="${date}"></span><br>
			<span id="inspoQuote" th:text="${quotes}"></span>
		</h1>

		<!-- <div class="topmainbtn Settings">
			<h2>  </h2>
		</div> -->

		<div class="topmainbtn FocusTimer" onclick="location.href='/timer';">
			<h2>  </h2>
		</div>
	</div>

	<div class="MainGrid">

		<!-- █████ EVENTS CARD ███████████████████████████████████ -->
		<div class="card Events">
			<h2> Events </h2>
			<button onclick="location.href='/addEvent';" type="button" class="moduleBtn">+</button>

			<div class="card-body">
				<ul th:each="calendarEntries: ${calendarEntries}" class="list-group">
					<li th:text="${calendarEntries.startDateTime} + '  ' +  ${calendarEntries.description}"></li>
				</ul>
			</div>

		</div>

		<!-- █████ TO-DO █████████████████████████████████████████ -->

		<div class="card ToDoList">
			<h2> Goals For Today </h2>

			<button onclick="location.href='/todo';" type="button" class="moduleBtn">+</button>

			<table class="table-unstyled" th:each="todoEntries: ${todoEntries}">
				<tr>

					<td>
						<label class="container">	<span th:text="${todoEntries.todoDescription}"></span>
							<input type="checkbox" checked="checked">
							<span class="checkmark"></span>
						</label>
					</td>
				</tr>
			</table>
		</div>

		<!-- █████ WEATHER ███████████████████████████████████ -->
		<div class="card Weather">
			<img id="weatherIcon" th:src="${weatherIcon}" />
			<h2 id="temps"><span id="weatherTemp" th:text="${temp}"></span> <span th:text="${weatherStatus}" id="weatherStatus"></span></h2>
		</div>

		<!-- █████ WORLD CLOCK ███████████████████████████████ -->
		<div class="card WorldClock">
			<h2 id="clockwidgetcontainer"><span id="worldclockwidget">--:--</span> <span id="worldclockAMPM">--</span></h2>
			<p id="clockwidgetCityName"> --------- </p>
		</div>
	</div>
</body>
</html>
