<!DOCTYPE html>
<html lang="en">
<head>
	<script src=".\progressBar.js">

	</script>

	<link rel="stylesheet" href="/dashboard.css">
	<script src="/dashboard.js"></script>

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;500&display=swap" rel="stylesheet">

	<style>

	.hidden {
		display: none;
	}

	#pomodoro-container {
		border: 0px solid red;
		margin: 110px 50px 0px 50px;
		background-color: rgba(0, 0, 0, 0.1);
		border-radius: 30px;
		padding: 30px;
	}


</style>


<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css" rel="stylesheet"/>
</head>


<body onload="updateClocks();"> <!-- Update Clock -->

	<!-- █████ TOP BAR █████████████████████████████████████████ -->
	<div class="TopBar">
		<h1>
			<span id="mainClock">--:--</span><span id="AMPM">:-- --</span> <span id="date" th:text="${date}"></span><br>
			<span id="inspoQuote" th:text="${quotes}"></span>
		</h1>

		<!-- <div class="topmainbtn Settings">
		<h2>  </h2>
	</div> -->

	<div class="topmainbtn Home" onclick="location.href='/dashboard';">
		<h2>  </h2>
	</div>
</div>

<!--title-->
<!-- <title>Pomodoro Timer</title> -->
<!-- <h1>Let's work now!</h1> -->

<!--play and pause the timer-->
<div id="pomodoro-container">
	<h1 id="demo"> --:-- </h1>
	<h2 id="target">Target Date...</h2>

	<!-- <input id="inputhours" type="number">Hours</input> -->
	<!-- <input id="inputmins" type="number">Mins</input> -->

	<input id="inputdate" type="text" value="Apr 4, 2023 15:37:00"></input>
	<button onclick="timer();">Start</button>


	<script>

	function timer() {

		// var inputmins = document.getElementById("inputmins").value;
		// var inputhours = document.getElementById("inputhours").value;
		var inputhours = document.getElementById("inputdate").value;

		// var targetDate

		// Set the date we're counting down to
		// var targetDate = "Apr 4, 2023 15:37:00"
		var targetDate = inputhours

		var countDownDate = new Date(targetDate).getTime();

		document.getElementById("target").innerHTML = "counting down to: " + targetDate

		// Update the count down every 1 second
		var x = setInterval(function() {

			// Get today's date and time
			var now = new Date().getTime();

			// Find the distance between now and the count down date
			var distance = countDownDate - now;

			// Time calculations for days, hours, minutes and seconds
			var days = Math.floor(distance / (1000 * 60 * 60 * 24));
			var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
			var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
			var seconds = Math.floor((distance % (1000 * 60)) / 1000);

			// Output the result in an element with id="demo"
			document.getElementById("demo").innerHTML = days + "d " + hours + "h " + minutes + "m " + seconds + "s ";



			// If the count down is over, write some text
			if (distance < 0) {
				clearInterval(x);
				document.getElementById("demo").innerHTML = "All Done!";
			}
		}, 1000);
	}
	</script>
</div>
</html>
