<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
	<div class="col">
		<div class="card mb-4 rounded-3 shadow-sm">
			<div class="card-header py-3">
				<h4 class="my-0 fw-normal">Upcoming Events</h4>
			</div>
<div class="card-body">
	<table class="table-unstyled">
		<tr>
			<th> </th>
			<th>To-Do List</th>
		</tr>
		<tr>
			<td><input type="checkbox" id="task1" name="task1"></td>
            <td><input type="text"></td>
        </tr>
        <tr>
			<td><input type="checkbox" id="task2" name="task2"></td>
            <td><input type="text"></td>
        </tr>
        <tr>
			<td><input type="checkbox" id="task3" name="task3"></td>
            <td><input type="text"></td>
        </tr>
        <tr>
			<td><input type="checkbox" id="task4" name="task4"></td>
            <td><input type="text"></td>
        </tr>
        <tr>
			<td><input type="checkbox" id="task5" name="task5"></td>
            <td><input type="text"></td>
        </tr>
	</table>
		</div>
	</div>
</div>