<!DOCTYPE html>
<!--importing weather api here-->
<script src="./weathertime.js">var d = new Date("03/25/2015");
    document.getElementById("time").innerHTML = d;</script>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
</head>
<body>
    <!--title-->
    <h1>Good day!</h1>
<!--weather section-->
<section>
    <h1>insert weather here</h1>
    <h2>insert weather description here light rain,sunny etc</h2>
    <!--headers are h1 to h6-->
    <img width="200" height="200" src="put weather button here" alt="Weather button">
    <!-- set button dimensions-->
    <p>want to change to observatory site if click into button </p>
    <a href="https://openweathermap.org/">Weather source</a></section>

<!--time and city section-->
<section>    <!--might want to change the widget so they can change the time-->
    <h1><div style="text-align:center;padding:1em 0;"> <h3><span style="color:gray;"><br />Melbourne</a></h3> <width="100%" height="115" frameborder="0" seamless></div></h1>
    <!--headers are h1 to h6-->
    <img width="200" height="200" src="put time button here" alt="Time button">
    <!-- set button dimensions-->

    <h3>location of user</h3>
    <p id="time">Current date and time is</p>
    <a href="https://www.timeanddate.com/worldclock/">Worldwide clock</a></section>

		<button id="btn">Call weather</button>
</body>
</html>
